*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack:rgb(41, 41, 41);
$mainWhite:rgb(243, 243, 243);
$mainGreen:rgb(54, 163, 72);
$mainGrey:rgb(219, 219, 219);

body {
    background: $mainGrey;
    color: $mainBlack;
    font-family: 'Roboto', sans-serif;
}